{
	"CountNearby": true,
	"CustomerId": "0",
	"HighlightedPlaceId": 0,
	"IsADA": false,
	"Latitude": 0,
	"Longitude": 0,
	"MinVehicleLength": "10",
	"NearbyCountLimit": 1,
	"NearbyLimit": 1,
	"NearbyOnlyAvailable": false,
	"Nights": "{{ number_of_nights }}",
	"PlaceId": "{{ campsite }}",
	"RefreshFavourites": true,
	"SleepingUnitId": "11",
	"Sort": "Distance",
	"StartDate":"{{ lookup('pipe','date +%m-%d-%Y') }}",
	"UnitCategoryId": "2",
	"UnitTypesGroupIds": []
}